.yt-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.yt-icon-shape {
    width: 24px;
    height: 24px;
    fill: #606060; /* Default color */
    transition: fill 0.3s ease;
}

.yt-icon-button:hover .yt-icon-shape {
    fill: #000; /* Color on hover */
}

#guide-icon svg {
    width: 24px;
    height: 24px;
}
